<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{- if isset .Site.Params "subtitle" -}} - {{ .Site.Params.Subtitle }}{{- end -}} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

<!--
    This set of feather-icons does not include an icon for linkedin.
    I will have to kill a kitten and use JS to convert from SVG...
    
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css">-->

	<link rel="apple-touch-icon" sizes="180x180" href={{ "apple-touch-icon.png" | absURL }}>
	<link rel="icon" type="image/png" sizes="32x32" href={{ "favicon-32x32.png" | absURL }}>
	<link rel="icon" type="image/png" sizes="16x16" href={{ "favicon-16x16.png" | absURL }}>
	<link rel="manifest" href={{ "site.webmanifest" | absURL }}>
	<link rel="mask-icon" href={{ "safari-pinned-tab.svg" | absURL }} color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}

	<link rel="stylesheet" type="text/css" media="screen" href={{ "css/main.css" | absURL }}/>

	{{ range .Site.Params.custom_css -}}
	<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}

    <!--I hate JS, but the fonts look so nice...-->
	{{- if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else if (isset .Site.Params "social") -}}
	<script src={{ "js/feather.min.js" | absURL }}></script>
	{{- end -}}
</head>
